* {
    background-color: transparent;
    border-width: 0;
    margin: 0;
    padding: 0;
}

.grid-3 {
    left: 450px;
    top: 320px;
    width: 666px;
}

.grid-3 DeckSelectCardV2 {
    margin-right: 28px;
    margin-bottom: 54px;
}

.grid-4 {
    left: 175px;
    top: 320px;
    width: 936px;
}

.grid-4 DeckSelectCardV2 {
    margin-right: 40px;
    margin-bottom: 54px;
}

.grid-5 {
    left: 120px;
    top: 320px;
    width: 1130px;
    transform-origin: left top;
}

.grid-5 DeckSelectCardV2 {
    margin-right: 32px;
    margin-bottom: 66px;
}
